.user-details-page {
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.user-details-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-history-collapse .history-item {
  background: #fafafa;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.loading-spin {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}



.user-details-page .ant-descriptions-item-label {
  word-break: break-word; 
}

.user-details-page .profile-image-url {
  overflow-wrap: anywhere;
  font-size: 14px;
  color: #595959;
}

.user-details-page .profile-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 5px 0;
  object-fit: cover;
}

@media (min-width: 768px) {
  .user-details-page .profile-image-container img {
    max-width: 200px;
  }
}
